body
{
  height: 100%;
  margin: auto; /* Pour centrer notre page */
  margin-top: 20px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur. Essayez d'enlever pour voir ! */
  margin-bottom: 20px;    /* Idem pour le bas du navigateur */
  }

acronym{ 
 cursor: help;
}

/*Intro part */
#intro{ 
        margin-left: 140px;
        margin-bottom: 20px;
        padding: 5px;
        }

/*Header part */
#header h1, h2
{
  height: auto !important;
  height: 100%;
  min-height: 100%; 
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 17%;
  text-align: center;
  margin-bottom: 1em;
  }

#Rlogo
{ 
  display: inline;
  width: 7%;
  margin-right: 10%;
  float: right;
  text-align: center;
  border: 2px;
  margin-top: 3em;
  margin-bottom: 2em;
  }

/* Menu */
#menu{ 
       font-size: 18px;
       position: absolute;
       left: 3em;
       top:7em;
       float: left;
       width: 20%;
       font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
       }

/* Le corps de la page */

#main_matter
{
  height: auto !important;
  height: 100%;
  min-height: 100%; 
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 10%;
  padding: 5px;
  text-align: justify;
  }

#main_matter h1 /* Tous les titres h1 du corps */
{
  text-align: center;
  font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
  }

#main_matter h2 /* Tous les titres h2 du corps */
{
  height: 10em;
  padding-left: 2em;
  text-align: left;
  margin-left: 0%;
  }

/* Footnote */
#footnote
{
  height: auto !important;
  height: 100%;
  min-height: 100%; 
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 10%;
  color: grey;
  text-align: center;
  }

/*R Comments style */
.Rcomments {
             color: grey;
             }

/* R code blocks */
.Rcodes{ 
        background-color: #effff2;
        border: 1px dashed grey;
        margin-left: 2em;
        padding: 4px;
        }

/*R outputs style*/
.Routs {
         color: black;
         text-decoration: none;
         }

a.Routs, code.Routs {
          position: relative;
          color: black;
          }
a.Routs span, code.Routs span {
               color: black;
               display: none;
               }
a.Routs:hover, code.Routs:hover {
                background: none; /* correction d'un bug IE */
                z-index: 500; /* on définit une valeur pour l'ordre d'affichage */
                color: teal;
                }
a.Routs:hover span, code.Routs:hover span {
                     display: inline; /* on affiche l'infobulle */
                     position: absolute;

                     white-space: nowrap; /* on change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non-désiré */

                     top: 30px;  /*on positionne notre infobulle */
                     left: 20px;

                     background: white;

                     color: teal;
                     padding: 3px;

                     border: 1px solid teal;
                     border-left: 4px solid teal;
                     }

